services:
  gitlab:
    image: gitlab/gitlab-ce:18.7.1-ce.0
    container_name: gitlab
    hostname: git.gerardgascon.com
    ports:
      - 2424:22
    volumes:
      - ./config:/etc/gitlab
      - ./logs:/var/log/gitlab
      - ./data:/var/opt/gitlab
    restart: unless-stopped

networks:
  default:
    external: true
    name: nginx-proxy-manager
